.header-text {
    @apply text-base font-bold mb-4 text-blue-500
}

.download-list {
    list-style: none;
    padding-left: 0;
}

.download-list li {
    margin-bottom: 0.5rem;
}

.download-list a {
    text-decoration: none;
    color: #007bff;
}

.download-list a:hover {
    text-decoration: underline;
}